/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* main - for all pages */

body {
    font-family: 'Oswald', sans-serif;
    background-color: #eceff1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

footer {
    margin-top: auto;
}

.btn {
    font-weight: bold;
}

input {
    color: black;
    font-family: 'Oswald', sans-serif;
}

.social-icon {
    font-size: 30px;
    margin: 10px;
    transition: 0.3s;
}

.social-icon:hover {
    color: red;
    transition: 0.3s;
}

/* Navigation */

.sidenav li>a {
    color: white;
    margin-top: 15px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: black;
}

/* Text */

h1, h2, h3 {
    text-transform: capitalize;
}

h2 {
    font-size: 34px;
}

.text-shadow {
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}

/* Index Page */

.index-heading {
    padding-top: 50px;
}

.index-p {
    font-weight: 700;
    font-size: 25px;
}

.index-background-img {
    position: relative;
    filter: brightness(90%);
    box-sizing: border-box!important;
    max-width: 100%!important;
    height: 500px!important;
    background-image: url('/static/images/background-image-cropped.webp')!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    background-color: #000000;
}

/* Forms (create review, edit review and reviews search bar) */

.form {
    margin: 0;
}

label.form-label {
    color: black;
}

/* Reviews Page */

.reviews-heading {
    font-size: 30px;
    padding-top: 20px;
}

.reviews-section {
    margin-top: 50px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.reviews-section h4 {
    font-size: 30px;
}

.genre {
    font-size: 20px;
}

.card-shadow {
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}

.reviews-background-img {
    margin: 0;
    position: relative;
    filter: brightness(90%);
    box-sizing: border-box!important;
    max-width: 100%!important;
    height: 300px!important;
    background-image: url('/static/images/background-image-cropped.webp')!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    background-color: #000000;
}

.reviews-heading-text {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 30px;
}

.card.large {
    height: 680px;
}

.review-p {
    height: 250px;
}


/* PHONE VERSION */
@media (min-width: 280px) and (max-width: 768px) {
    nav .brand-logo {
        font-size: 25px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        text-align: center;
    }
    p {
        font-size: 13px;
        margin-top: 0;
    }
    .index-heading{
        padding-top: 10px;
    }
    .reviews-heading-text {
        margin-top:40px;
    }
    .review-p {
        height: 200px;
    }
}

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 960px) {

    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 24px;
    }
}

/* Smallest Screens */

@media (min-width: 100px) and (max-width: 280px) {
    
    .search-text {
        font-size: 10px!important;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        text-align: center;
    }
    p {
        font-size: 10px;
        margin-top: 0;
    }
    .review-p {
        height: 250px;
    }
    .btn {
    margin-top: 5px;
    }
}
