body {
    background-color: #eceff1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

h1, h2, h3 {
    text-transform: capitalize;
}

h2 {
    font-size: 34px;
}

.index-heading {
    padding-top: 50px;
}

.index-p {
    font-weight: 700;
    font-size: 25px;
}

.sidenav li>a {
    color: white;
}

.text-shadow {
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}

.card-shadow {
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}

.reviews-heading {
    font-size: 30px;
    padding-top: 20px;
}

.reviews-section {
    margin-top: 50px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: ;
}

.reviews-section h4 {
    font-size: 30px;
}

.genre {
    font-size: 20px;
}

.social-icon {
    font-size: 30px;
    margin: 10px;
    transition: 0.3s;
}

.social-icon:hover {
    color: red;
    transition: 0.3s;
}

.reviews-background-img {
    position: relative;
    filter: brightness(90%);
    box-sizing: border-box!important;
    max-width: 100%!important;
    height: 300px!important;
    background-image: url('/static/images/background-image-cropped.jpg')!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
}

.index-background-img {
    position: relative;
    filter: brightness(90%);
    box-sizing: border-box!important;
    max-width: 100%!important;
    height: 500px!important;
    background-image: url('/static/images/background-image-cropped.jpg')!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
}

.reviews-heading-text {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 30px;
}

.sidenav li>a {
    margin-top: 15px;
}

.card.large {
    height: 600px; /* Adjust this value to your desired height */
}


/* PHONE VERSION */
@media (min-width: 280px) and (max-width: 768px) {
    nav .brand-logo {
        font-size: 25px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        text-align: center;
    }
    p {
        font-size: 13px;
        margin-top: 0;
    }
    .index-heading{
        padding-top: 10px;
    }
    .reviews-heading-text {
        margin-top:40px;
    }
}

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 960px) {

    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 24px;
    }

}

