body {
    background-color: #eceff1;
}

h1, h2, h3 {
    text-transform: capitalize;
}

.index-heading {
    padding-top: 50px;
}

.index-p {
    font-weight: 700;
    font-size: 25px;
}

.sidenav li>a {
    color: white;
}

.text-shadow {
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}