<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Movie Reviewers</title>
</head>
<body>

    <header>
        <!-- top navbar -->
        <nav class="nav-extended black">
            <div class="nav-wrapper">
              <a href="{{ url_for('index') }}" class="brand-logo">Movie Reviewers</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('my_account') }}">My Account</a></li>
                    <li><a href="{{ url_for('reviews') }}">Reviews</a></li>
                    {% if session.user|lower == "admin"|lower %}
                        <li><a href="#">Leave A Review</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <!-- mobile navbar -->
          <ul class="sidenav black" id="mobile-demo">
            <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('my_account') }}">My Account</a></li>
                    <li><a href="{{ url_for('reviews') }}">Reviews</a></li>
                    {% if session.user|lower == "admin"|lower %}
                        <li><a href="#">Leave A Review</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('index') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
          </ul>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    <footer class="page-footer black">
      <div class="footer-copyright">
        <div class="container center-align">
        © 2024 Movie Reviewers
        </div>
      </div>
    </footer>
</body>
</html>