{% extends "base.html" %}
{% block content %}

    <!-- Top Page Headings & background image -->
<main style="background-image: url('/static/images/background-image-cropped.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin: 0;
    padding: 0;">    
    <div class="container index-heading">
        <div class="row">
            <h1 class="center-align index-heading white-text text-shadow">Welcome To Movie Reviewers</h1>
            <h2 class="center-align red-text text-darken-2 text-shadow">Home of the greatest movie reviews</h2><br>
            <p class="center-align white-text index-p text-shadow">Get Started Now!</p>
        </div>
            <!-- Register Button -->
        <div class="row">
            <div class="center-align">
                <a href="{{ url_for("register") }}" id="register-btn" class="waves-effect waves-light red darken-4 btn-large center-align md-2 offset-md-5">
                    <i class="fa-solid fa-film"></i> Register </a>
            </div>
        </div>
    </div>

    <!-- Example Reviews -->
    
    <div class="row white">
        <div class="h3 reviews-heading center-align">Some of our reviews:</div>
    
        <div class="row reviews-section">
            {% for review in reviews %}
            <div class="col s12 m4">
                <div class="card large card-panel card-shadow blue-grey lighten-3">
                    <h4>Movie: {{ review.movie_title }}</h4>
                    <p class="genre">Genre: {{ review.genre }}</p><br>
                    <p>{{ review.subtitle }}</p><br>
                    <p>{{ review.review }}</p><br>
                    <p>Reviewed By: {{ review.username }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</main>

{% endblock %}