{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Register Account</h1>

    <div class="row">
        <form class="col s10 offset-s1 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix red-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-lock prefix red-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Register -->
            <div class="row">
                <button type="submit" class="col s10 offset-s1 m6 offset-m3 btn-large red darken-4">
                    Register Account <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </form>
    </div>

    <!-- Login Link -->
    <div class="row">
        <div class="col s12 center-align">
            <p>Have An Account? <a href="{{ url_for('login') }}"
                class="red-text text-darken-4"> Log In </a>
            </p>
        </div>
    </div>

{% endblock %}